{{#each article}}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title clearfix">
            <a class="headline-link" href="{{url}}" alt="link for {{headline}}">{{headline}}</a>
            <a class="btn btn-danger unsave-article pull-right" href="#" data-article-id={{_id}}>Unsave</a>
            <a class="btn btn-success comment pull-right" href="#"data-article-id={{_id}}>Article Comments</a>
          </h3>
        </div>
        <div class="panel-body">
          <p>{{summary}}</p>
        </div>
      </div>

    </div>
  </div>
{{/each}}